body {
  margin: 0;
  background-color: #f5f5f6;
  padding: auto 0;
  display: flex;
  flex-direction: column;
  font-family: 'Noto Sans', sans-serif;
}

button {
  background-color: #3D70D5;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  padding: 1em 2em;
  transition: 300ms all;
}

button:hover {
  transform: scale(1.1);
}

h2,h3 {
  text-align: center;
  margin: 0 0.5em;
}

hr {
  border: 2px solid #3D70D5;
  width: 30%;
  border-radius: 20%;
}

h2 {
  font-size: 42px;
  padding-top: 1em;
  color:#008;
}

/* NAVBAR */
nav {
  top:0;
  position: sticky;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
  margin:0;
  background-color: #3D70D5;

}

nav ul {
  display: flex;
  list-style: none;
}

.nav-li {
  display: flex;
  align-items: center;
  padding: 0 2em;
}

.nav-li a {
  text-decoration: none;
  color:white;
}

.nav-logo {
  width: 3em;
  padding: 0;
}

.push-right {
  margin-left: auto;
}

/* SPLASH SCREEN */

.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.splash-text {
  text-align: center;
  position: absolute;
  width: 40%;
}

.splash-text h1 {
  font-size: 2em;
}

.splash-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.description {
  padding: 0 5em 1em 5em;
  text-align: center;
}

.description p {
  font-size: 2rem;
}

/* ADVANTAGES GRID */

.advantages {
  text-align: center;
}

.advantages-grid, .reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 3em;
}

.advantage-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f6;
  border: 3px solid #3D70D5;
  border-radius: 3%;
  padding: 4em;
  margin: 1em;
}

.advantage-card img {
  width: 10em;
}


/* REVIEWS GRID */
.reviews {
  text-align: center;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #3D70D5;
  border-radius: 3%;
  padding: 3em;
  margin: 1em;
}

.review-card img {
  border-radius: 50%;
  width: 12em;
}

/* BUTTON / ENDING PAGE */

.redirect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
}

footer {
  text-align: center;
  background-color: #3D70D5;
  padding: 1em;
  color: #f5f5f6;
}


/* POSTS LIST */

.posts-list {
  display: flex;
  flex-direction: column;
}

.post-card {
  display: flex;
  flex-direction: row;
  border-bottom: 5px solid #3D70D5;
}

.post-img {
    max-width: 25%;
    max-height: 100%;
}

.post-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100%;
  padding: 20px 1em;
}

.post-title {
  font-size: 26px;
  padding: 0;
  margin:0;
  text-align: left;
}

.post-paragraph {
  padding: 0;
  margin: 0;
}

/* MOBILE-ONLY CHANGES */

@media only screen and (max-width: 900px) {

  .post-card {
    flex-direction: column;
  }

  .post-img {
    max-width: 50%;
  }

  .post-title {
    font-size: 1.5em;
  }


}


@media only screen and (max-width: 500px) {

  .nav-li {
    padding: 0.5em 1em;
  }

  .splash-text {
    width: 70%;
  }

  .advantages-grid, .reviews-grid {
    gap: 2em;
  }

  .description p {
    font-size: 1rem;
  }

  .post-img {
    max-width: 100%;
  }
  

}

